# harmonypy==0.0.9
# jupyter
jupyterlab
# matplotlib-venn
pandas~=1.4.0
PyYAML
scanpy
scikit-learn
scipy
seaborn
statsmodels
tables
torch
torchaudio
torchvision
tqdm
umap-learn
numpy>=1.20, <=1.21
./wheels/matplotlib-venn-0.11.7.tar.gz
./wheels/imbalanced_learn-0.10.1-py3-none-any.whl
./wheels/harmonypy-0.0.9-py3-none-any.whl

